{% extends 'base.html' %}

{% block title %}
  Cron List
{% endblock %}

{% block content %}
  <div class="container p-3">
    <h1 class="pb-2">Cron List</h1>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Cron</th>
            <th>Status</th>
            <th>Reset</th>
        </tr>
        </thead>
        <tbody>
        {% for cron in crons %}
            <tr>
                <td>
                    [{{ cron.prj }}] {{ cron.slug }}
                </td>
                <td>
                    {% if cron.status %}
                        <b>{{ cron.delta_str }}</b>
                        (since {{ cron.modified|date:"b d, H:i:s"|capfirst }})
                    {% endif %}
                </td>
                <td style="padding: 5px; margin: 5px">
                    {% if cron.status %}
                        {% if cron.reset_active %}
                            <a class="btn btn-primary btn-sm" href="#todo">Reset</a>
                        {% else %}
                            <button class="btn btn-sm" disabled>Reset</button>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
